* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

#logo {
  height: 8rem;
  display: flex;
  align-items: center;
  position: relative;
}

#logo>div:nth-child(1)>img {
  width: 100%;
}

#logo>div:nth-child(1) {
  width: 12%;
  margin-left: 2em;
}

#logo>div:nth-child(2) {
  width: 60%;
}

img {
  width: 100%;
}

#nav {
  height: 3.5rem;
  background-color: #0087a8;
  position: sticky;
  top: 0;
  display: flex;
  width: 100vw;
  /* justify-content: ; */
  align-items: center;
}

#nav>div:nth-child(1) {
  width: 10rem;
  margin-left: 3rem;
}

#nav>div:nth-child(2) {
  margin-left: 2rem;
  display: flex;
}

#pages {
  width: 17rem;
  display: flex;
  font-weight: 900;
  margin-left: 2rem;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

#search {
  margin-left: 167%;
  padding: 1rem;
  border: 3px solid white;
  height: 2.5em;
  width: 15rem;
  border-radius: .8em;
}

input::placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
}

#slider {
  background-color: #0087a8;
  width: 24%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  display: none;
}

#open {
  color: white;
  font-size: x-large;
  border-right: 1px solid white;
  padding: .3em .5em;
  height: 70%;
  cursor: pointer;
}

#slider>div:nth-child(1) {
  padding: 3rem;
}

#remove {
  color: white;
  font-size: 2em;
  cursor: pointer;
}

#sPages {
  color: white;
  text-decoration: none;
  padding: 2rem;
}

#sPages div {
  padding: 1rem;
}

#sPages h4:hover {
  padding-left: 1rem;
}

#sPages h4 {
  cursor: pointer;
  transition: .3s;
}

#spec {
  padding: .5em .5em;
  margin-top: 2rem;
  margin-left: 3rem;
  width: fit-content;
  background-color: #0087a8;
  color: white;
}

#container {
  width: 93%;
  margin: auto;
  margin-top: 2rem;
  /* position: relative; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
}

#container div {
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

#container img {
  cursor: pointer;
}

#container>div:nth-child(1) {
  grid-area: 1/1/2/3;
}

#container>div:nth-child(2) {
  margin-bottom: 15rem;
}

#container>div:nth-child(8) {
  grid-area: 3/2/4/4;
}

#container>div:nth-child(6) {
  margin-bottom: 15rem;
}

#container>div:nth-child(17) {
  grid-area: 7/1/8/3;
}

#container>div:nth-child(18) {
  margin-bottom: 15rem;
}

#bottom1 {
  background-color: #0087a8;
  height: 20rem;
  display: flex;
  font-weight: lighter;
  margin-top: 3rem;
}

#bottom1>div {
  margin-left: 4rem;
  margin-top: 2rem;
  color: white;
}

#bottom2 {
  display: flex;
  font-weight: bold;
  width: 97%;
  margin-top: 1rem;
  line-height: 1.6rem;
}

.btop {
  border-top: 1px solid #858383;
  margin-top: .5em;
  padding-top: .5em;
}

.btop>p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bTop {
  border-top: 1px solid white;
  margin-top: .5em;
  padding-top: .5em;
}

.bTop>p:hover {
  text-decoration: underline;
  cursor: pointer;
}

#bottom2 p {
  font-weight: 100;
}

#bottom2>div {
  margin-left: 4rem;
}

#bottom3 {
  background-color: #0087a8;
  height: 2rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  color: white;
}

#bottom3>div {
  margin: .5em;
  margin-left: 4rem;
}

#bottom3>div:nth-child(2) {
  margin: .5em;
  margin-right: 3rem;
  display: flex;
  justify-content: space-between;
  width: 7rem;
}

#ad2 {
  margin-top: 2em;
}